@model SUMI.Web.ViewModels.Vehicles.VehicleDetailsViewModel
@{
    ViewData["Title"] = "Vehicle Details";
}

<h2>@ViewData["Title"]</h2>
<div class="card text-center">
    <div class="card-body">
        <h3 class="card-title withMargin">@Model.Make</h3>
        <div class="row justify-content-around">
            <div class="col-md-4"><span class="font-weight-bold mr-2">Model:</span>@Model.Model</div>
            <div class="col-md-4"><span class="font-weight-bold mr-2">VIN:</span>@Model.VIN</div>
            <div class="col-md-4"><span class="font-weight-bold mr-2">Date of first registration:</span>@Model.FirstRegistration</div>
        </div>
        <div class="row">
            <div class="col-md-4"><span class="font-weight-bold mr-2">Number plate:</span>@Model.NumberPlate</div>
            <div class="col-md-4"><span class="font-weight-bold mr-2">Type:</span>@Model.Type</div>
            <div class="col-md-4"><span class="font-weight-bold mr-2">Owner:</span>@Model.OwnerName</div>
        </div>
    </div>
    <div class="card-footer text-muted">
        @if (this.User.IsInRole(GlobalConstants.ClientRoleName))
        {
            <a asp-controller="Vehicles" asp-action="MyVehicles" class="btn btn-primary">Back</a>
        }
        else
        {
            <a asp-controller="Vehicles" asp-action="All" class="btn btn-primary">Back</a>
        }
    </div>
</div>