<div id="commentContainer" class="container withMargin">
    @foreach (var item in Model.Comments)
    {
        if (!item.IsDeleted)
        {
            <p id="comments">
                @item.Text (@item.Author.FirstName @item.Author.LastName) --- @item.CreatedOn
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a href="#" comment-id="@item.Id">[x]</a>
                }
            </p>
        }
    }

    <textarea class="form-control withMargin" id="textArea" name="text" placeholder="Enter your comment here:"></textarea>
    <button id="btnComment" class="btn btn-success btn-sm">Add comment</button>
    <p id="commentConfirmation" class="text-danger" style="display:none">There was an error with your request. Comment was not added. Please try again</p>
</div>
