<div id="commentContainer" class="container withMargin">
    @foreach (var item in Model.Comments)
    {
        <p id="comments">
            @item.Text (@item.Author.FirstName @item.Author.LastName) --- @item.CreatedOn
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                @*<a asp-controller="Comments" asp-action="Delete" asp-route-id="@item.Id">[x]</a>*@
                <a href="#" comment-id="@item.Id">[x]</a>
            }
        </p>
    }

    <div class="row">
        <div class="col col-md-6 form-group">
            <textarea class="form-control" id="textArea" name="text" placeholder="Enter your comment here:"></textarea>
        </div>
    </div>
    <button id="btnComment" class="btn btn-success btn-sm">Add comment</button>
    <p id="commentConfirmation" class="text-danger">There was an error with your request. Comment was not added. Please try again</p>
</div>
