@{
    int count = 1;
    var severityOptions = new List<SelectListItem>
{
new SelectListItem { Value = "1", Text = "Low" },
new SelectListItem { Value = "2", Text = "Medium" },
new SelectListItem { Value = "3", Text = "High"  },
};

    decimal sumOfDamages = Model.TotalSpent;
    decimal progress = (sumOfDamages / Model.PolicyInsuranceSum) * 100;
    string color = "lightgreen";
    decimal tarriff = (Model.PolicyPremium / Model.PolicyInsuranceSum) * 100;
    if (progress > tarriff && progress < 40)
    {
        color = "yellow";
    }
    else if (progress >= 40 && progress < 70)
    {
        color = "orange";
    }
    else if (progress >= 70)
    {
        color = "red";
    }

}

@if (Model.Status == "Pending" && this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <input type="hidden" id="progress" value="@progress" />
    <input type="hidden" id="policyId" value="@Model.PolicyId" />
    <div class="withMargin" style="width:@progress%; height:40px; background-color:@color">@progress.ToString("f2")%</div>
    <div id="totalLossInfo" class="text-center withMargin" style="display:none">
        <h3 class="text-danger">Attention! This vehicle is a total loss!</h3>
        <button id="btnTotalLoss" class="btn btn-danger">Total Loss</button>
        <p id="terminationStatus" class="text-danger"></p>
    </div>
}

<h5 class="font-weight-bold">List of damages:</h5>
@if (Model.Damages.Count == 0)
{
    <p class="font-italic">Currently there are no damages in this claim.</p>
}
else
{
    <div id="damagesContainer" class="container withMargin">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width: 4%">#</th>
                    <th scope="col" style="width: 30%">Damaged part</th>
                    <th scope="col" style="width: 10%">Severity</th>
                    <th scope="col" style="width: 16%">Cost</th>
                    @if (Model.Status == "Open" && (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.AgentRoleName)))
                    {
                        <th scope="col" style="width: 10%">Delete</th>
                    }

                    @if (Model.Status == "Pending" && this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <th scope="col" style="width: 22%">Estimate</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Damages)
                {
                    <tr>
                        <th scope="row">@count</th>
                        <td>@item.PartName</td>
                        <td>@item.Severity</td>
                        <td>@item.EstimatedCost EUR</td>
                        @if (Model.Status == "Open" && (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.AgentRoleName)))
                        {
                            <td><a asp-controller="Damages" asp-action="Delete" asp-route-id="@item.Id">[x]</a></td>
                        }

                        @if (Model.Status == "Pending" && this.User.IsInRole(GlobalConstants.AdministratorRoleName) && !item.IsSettled)
                        {
                            <td>
                                <form asp-area="Administrator" asp-controller="Damages" asp-action="Settle" method="post">
                                    <input type="hidden" name="ClaimId" value="@item.ClaimId" />
                                    <input type="hidden" name="DamageId" value="@item.Id" />
                                    <div class="row">
                                        <div class="col col-md-12 form-group">
                                            <input class="form-control  toBeDisabled" name="EstimatedCost" type="number" min="0" step="0.01" />
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm toBeDisabled">Save</button>
                                </form>
                            </td>
                        }
                        else if (Model.Status == "Pending")
                        {
                            <td></td>
                        }
                    </tr>
                    count++;
                }
            </tbody>
        </table>
        <h5 class="withMargin">Total cost: @Model.TotalCost EUR</h5>
    </div>
}

@if (Model.Status == "Open" && (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.AgentRoleName)))
{
    <form asp-controller="Damages" asp-action="Add" method="post">
        <input type="hidden" name="ClaimId" value="@Model.Id" />
        <input type="hidden" name="PolicyId" value="@Model.PolicyId" />
        <div class="row border border-dark">
            <div class="col col-md-6 form-group withMargin">
                <label for="partName">Part name</label>
                <input name="partName" placeholder="Part name" class="form-control" />
            </div>
            <div class="col col-md-6 form-group withMargin">
                <label for="severity">Severity</label>
                <select name="severity" asp-items="@severityOptions"></select>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
    @if (Model.Damages.Count > 0)
    {
        <div class="withMargin text-center">
            <a asp-controller="Claims" asp-action="Send" asp-route-id="@Model.Id" class="btn btn-success">Send</a>
        </div>
    }
}

@if (Model.Status == "Pending" && this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div id="settleClaimDiv" class="withMargin text-center">
        <a asp-area="Administrator" asp-controller="Claims" asp-action="Resolve" asp-route-id="@Model.Id" class="btn btn-success">Settle claim</a>
    </div>
}
